/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --input-div-color: #f4f4f4;
  --specialBGColor: rgb(181, 181, 181);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --input-div-color: none;
  --specialBGColor: rgb(50, 50, 50);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.inputStyle {
  background: none !important;
}

.rce-input {
  color: var(--ifm-color-primary-darkest) !important;
}

.inputDiv {
  margin: 50px 0px;
  background-color: var(--input-div-color);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

/* .chatElementsText {
  color: crimson;
} */

.hero__title {
  font-size: 4rem;
  color: #1183ab;
}

.hero__subtitle {
  color: #ffffff;
}

.hero {
  background-color: var(--specialBGColor);
  background-image: url(/static/img/bg.png);
  background-size: cover;
}

.rce-button.sendButton {
  border-radius: 100px !important;
  font-size: 24px !important;
  font-weight: bold !important;
  width: 40px !important;
  height: 40px !important;
}

.rce-mtmg-toogleContent--click {
  display: flex !important;
}